.grid-container {
    display: grid;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-columns: auto auto auto;
    padding: 0px;
    alignment: center;
    background-color: white;
}

.sortable-handler {
  touch-action: none;
}

.grid-item {
    padding: 5px;
    font-size: 20px;
    text-align: center;
}

.large-background {
    background: url('../images/back.jpg') no-repeat;
}

.sunshine-instruction{
    color: white;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Style the header */
.header {
    background-color: #4267B2;
    padding: 20px;
    text-align: center;
    min-height: 100px;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #4267B2;
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
}

/* Left and right column */
.column.side {
    width: 10%;
}

/* Middle column */
.column.middle {
    width: 80%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

/* Style the footer */
.footer {
    background-color: #4267B2;
    padding: 10px;
    text-align: center;
    color: white;
}

