{% include "header.html" %}
<!-- Main Content-->
<div class="row">
    <!-- left Content-->
    <div class="column side">
    </div>
    <!-- End left content-->
    <!-- Middle Content-->
    <div class="column middle">
    </div>
    <!-- End Middle Content-->
    <!--Right content-->
    <div class="column side">
    </div>
    <!-- End Right content-->
</div>
<!-- End main content-->
<script>
    $(window).load(function () {
        $('body').addClass('large-background');
    });
</script>

{% include "footer.html" %}