{% include "header.html" %}ss
<!-- Main Content-->
<div class="row">
    <!-- left Content-->
    <div class="column side">
    </div>
    <!-- End left content-->
    <!-- Middle Content-->
    <div class="column middle">
        <div class="jumbotron text-center">
            <h1 class="display-3">Thank You!</h1>
            <p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your account setup.</p>
            <hr>
            <p>Having trouble? <a href="">Contact us</a></p>
            <p class="lead"><a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a></p>
        </div>
    </div>
    <!-- End Middle Content-->
    <!-- Begin Right Content-->
    <div class="column side">
    </div>
    <!-- End Right content-->
</div>
<!-- End main content-->
<script>
    $(window).load(function () {
        $('body').addClass('large-background');
    });
</script>
{% include "footer.html" %}